body {
	margin 0;
	font-family: 'Arial', sans-serif;
	background-color: #e6e6fa;
	color: #333;
}

header {
	background-color: #2c3e50;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

nav ul li {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: colo 0.3s;
}

nav ul li {
	color: #f39c12;
}

main {
	padding: 40px 20px;
	max-width: 900px;
	margin: 0 auto;
}